<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Events Near Me</title>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />
<style>
  body { margin: 20; padding: 20; }
  #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
  <h1>Events near me</h1>
<div type="container" id="map"></div>
 
<script src="./NearMe.js"></script>
 
</body>
</html>